# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Load the csv exported in Part I to a DataFrame

import_data_file = "../output_data/cities.csv"
imported_df = pd.read_csv(import_data_file, dtype="object", encoding="utf-8")
imported_df

,City,Country,Lat,Lng,Temp,Date,Humidity,Max Temp,Wind Speed,Cloudiness
0,Port Elizabeth,ZA,-33.92,25.57,64.4,1587245863,93,64.4,2.24,0
1,Ulaangom,MN,49.98,92.07,33.35,1587246248,50,33.35,1.81,0
2,Udachny,RU,66.42,112.4,8.6,1587246248,50,8.6,4.47,0
3,Lebu,CL,-37.62,-73.65,61.65,1587246056,72,61.65,5.7,34
4,Saint Paul Harbor,US,57.79,-152.41,46.4,1587246057,75,46.4,12.75,1
...,...,...,...,...,...,...,...,...,...,...
560,Platteville,US,42.73,-90.48,59.02,1587246450,41,60.8,31.09,1
561,Mana,GF,5.66,-53.78,81.0,1587246450,82,81.0,8.86,69
562,Vega de Alatorre,MX,20.03,-96.63,83.68,1587246451,75,83.68,6.42,28
563,Nemuro,JP,43.32,145.57,40.14,1587246451,79,40.14,9.24,100
564,Namatanai,PG,-3.67,152.43,81.72,1587246452,77,81.72,4.21,95

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps, set locations (lat, lng) and humidity levels (humidity)

gmaps.configure(api_key=g_key)
locations = imported_df[["Lat", "Lng"]].astype(float)
humidity_levels = imported_df[["Humidity"]].unstack().astype(float)

In [4]:
fig = gmaps.figure(center = (0,0), zoom_level = 2) #configure gmaps.figure

#Create heatmap with Locations and Humidity as weight
heatmap = gmaps.heatmap_layer(locations, weights=humidity_levels,  
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

#Add heatmap layer to map
fig.add_layer(heatmap)


#Display figure and save as .png
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
hotel_df = pd.DataFrame([])

In [6]:
# Create new data frame containing cities that fit following criteria:
#   * A max temperature lower than 80 degrees but higher than 70.
#   * Humidity less than 70%.
#   * Cloudiness less than 2%.

vacation_cities_df = imported_df.loc[(imported_df["Max Temp"].astype(float)>70) &
                                     (imported_df["Max Temp"].astype(float)<80) &
                                     (imported_df["Humidity"].astype(float)<70) &
                                     (imported_df["Cloudiness"].astype(float)<2),:]
vacation_cities_df = vacation_cities_df.reset_index()
vacation_cities_df

,index,City,Country,Lat,Lng,Temp,Date,Humidity,Max Temp,Wind Speed,Cloudiness
0,20,Diego de Almagro,CL,-26.37,-70.05,77.32,1587246254,21,77.32,8.37,0
1,48,Mar del Plata,AR,-38.0,-57.56,71.82,1587246088,56,72.0,6.93,1
2,93,Reconquista,AR,-29.15,-59.65,75.11,1587246281,47,75.11,5.03,0
3,145,East London,ZA,-33.02,27.91,71.22,1587246300,66,71.22,17.54,0
4,220,Avera,US,33.19,-82.53,76.3,1587246137,27,78.8,8.05,1
5,291,Maţāy,EG,28.42,30.78,70.81,1587246359,44,70.81,17.11,0
6,340,Pāvugada,IN,14.1,77.27,78.94,1587246374,40,78.94,4.32,0
7,437,Villa Carlos Paz,AR,-31.42,-64.5,76.62,1587246249,36,79.0,13.87,0
8,484,Plettenberg Bay,ZA,-34.05,23.37,71.33,1587246427,33,71.33,5.73,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = pd.DataFrame([]) #create new data frame that will contain hotel info

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#iterate through potential vacation cities and check get information for Hotels within 5000m of the geolocation.

for index, row in vacation_cities_df.iterrows():

    location = f"{row['Lat']},{row['Lng']}"
    
    #set parameters for the Google Places Nearby search
    
    params = {
    "radius": 5000,
    "location": location,
    "type": "lodging",
    "keyword": "Hotel",
    "key": g_key,
    }

    
    # assemble url and make API request
    print(f"Retrieving Results for {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
   
    # extract results
    results = response['results']
    
    #populate hotel_df with hotel information.  if a hotel doesn't exist, skip the location.
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        hotel_df.loc[index, 'City'] = vacation_cities_df.iloc[index, 1]
        hotel_df.loc[index, 'Country'] = vacation_cities_df.iloc[index, 2]
        hotel_df.loc[index, 'Lat'] = results[0]['geometry']['location']['lat']
        hotel_df.loc[index, 'Lng'] = results[0]['geometry']['location']['lng']

        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for 0: Diego de Almagro.
Closest hotel is hotel luna del desierto.
------------
Retrieving Results for 1: Mar del Plata.
Closest hotel is Sheraton Mar del Plata Hotel.
------------
Retrieving Results for 2: Reconquista.
Closest hotel is Grand Hotel.
------------
Retrieving Results for 3: East London.
Closest hotel is Blue Lagoon Hotel.
------------
Retrieving Results for 4: Avera.
Missing field/result... skipping.
------------
Retrieving Results for 5: Maţāy.
Missing field/result... skipping.
------------
Retrieving Results for 6: Pāvugada.
Closest hotel is Capital O 60010 Royal Heritage Resort.
------------
Retrieving Results for 7: Villa Carlos Paz.
Closest hotel is Portal Del Lago Hotel.
------------
Retrieving Results for 8: Plettenberg Bay.
Closest hotel is Sky Villa Boutique Hotel.
------------

In [8]:
hotel_df #print hotel_df

,Hotel Name,City,Country,Lat,Lng
0,hotel luna del desierto,Diego de Almagro,CL,-26.390999,-70.044015
1,Sheraton Mar del Plata Hotel,Mar del Plata,AR,-38.031830,-57.539713
2,Grand Hotel,Reconquista,AR,-29.146211,-59.645088
3,Blue Lagoon Hotel,East London,ZA,-32.983472,27.951098
6,Capital O 60010 Royal Heritage Resort,Pāvugada,IN,14.072582,77.277545
7,Portal Del Lago Hotel,Villa Carlos Paz,AR,-31.400146,-64.480027
8,Sky Villa Boutique Hotel,Plettenberg Bay,ZA,-34.040391,23.366837

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
#Create hotel layer
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='black', scale=2,
    #stroke_color='blue', scale=1,
    info_box_content=hotel_info
)

In [11]:
# Add marker layer ontop of heat map

fig.add_layer(hotel_layer)

# Display Map and save .png

fig

Figure(layout=FigureLayout(height='420px'))